.another-crocel{
    transform: translateY(90%);
    .image-icon-crocel{
        display: flex;
        flex-direction: row;
        .image-icon-item{
            margin-left: 30px;
        }
    }
}
.another-content-crocel-one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .another-para-crocel h2,p{
        text-align: center;
    }
}
.another-para-crocel{
    margin-bottom: 80px;
    .image-icon-item p{
        margin-bottom: 20px;
    }
}
.image-icon-item img{
    width: 60px;
    border-radius: 50%;
    
}
.image-icon-crocel{
    margin-bottom: 50px;
}

@mixin theme($them:  rgb(157, 7, 32)){
    color: $them;
    margin-bottom: 15px;
}
.another-para-crocel h2{
    @include theme;
}
.info-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid gainsboro;
    border-radius: 10px;
     column-gap: 40px;
    .info-img img{
        width: 350px;
        object-fit: cover;
        border-radius: 10px;
    }
    .info-para{
        padding: 20px;
    }
    .info-para p{
        margin-top: 15px;
        line-height: 20px;
    }
}
.techinfo-item-one{
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .techinfo-img img{
        width: 350px;
        border: 1px solid gainsboro;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 5px 6px 6px 0px gainsboro;
    }
}
.techinfo-item-two{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 90px;
    margin-bottom: 50px;
    .techinfo-img img{
        width: 350px;
        border: 1px solid gainsboro;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 5px 6px 6px 0px gainsboro;
    }
}
.techinfo-item-three{
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .techinfo-img img{
        width: 350px;
        border: 1px solid gainsboro;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 5px 6px 6px 0px gainsboro;
    }
}

.design-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 45px;
    margin: auto;
    .design-item{
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        border: 2px solid gainsboro;
        border-radius: 5px;
        padding: 15px;
        background-color: rgb(255, 250, 241);
    }
}

@mixin filter($filter:100px){
    width: $filter;
    margin-right: 40px;
}

.tech-filter{
    .tech-filter-item img{
        @include filter;
    }
}
.filters-home{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    margin-bottom: 30px;
    p a{
        text-decoration: none;
        color: black;
        font-weight: 500;
        transition: 1s;
        &:hover{
            color:  rgb(157, 7, 32);
        }
    }
}

.point-content-one{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}
.point-content-two{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}
.point-item{
    border: 2px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 254, 252);
    box-shadow: 5px 5px 3px 0px gainsboro;
    h3{
        margin-bottom: 10px;
    }
}
.mar-item img{
    width: 190px;
    border: 1px solid gainsboro;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 0px gainsboro;
    margin-bottom: 10px;
}
.end-content{
    .end-btn a{
        border: 1px solid rgb(155, 95, 16);
        border-radius: 5px;
        padding: 10px 20px;
        background-image: linear-gradient(45deg,rgb(255, 117, 49),rgb(251, 193, 86));
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
}
.end-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform: translateY(960%);
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-radius: 10px;
    margin: 150px;
    padding: 35px 20px;
    column-gap: 250px;
}
footer{
    .footer-inner-one{
        display: flex;
        justify-content: space-evenly;
        column-gap: 50px;
    }
}
.footer-navlinks{
    line-height: 27px;
}
